web: python manage.py migrate && python manage.py shell < conseils/seed_vaccins.py && python manage.py shell -c "from django.contrib.auth.models import User; User.objects.filter(username='admin_sib').exists() or User.objects.create_superuser('admin_sib', 'sante.infantile.benin@gmail.com', 'Admin2026!')" && gunicorn santeinfantile.wsgi --bind 0.0.0.0:$PORT --log-file -
